@media screen and (max-width:576px) {
    nav{
        font-size: smaller;        
    }
    .naxbox{
        flex-direction: column;
        height: 50%;
        gap: 10%;
        
    }
    .navitems{
        flex-direction: column;
        justify-content:left;
        gap: 20%;
        padding-top: 5%;
        
        
        
    }
    .navitems a{
        flex-direction: row;
        font-size:100% ;
        
    }


    /* Banner responsive initiation */
    .bannercontainer{
        flex-direction: column-reverse;
    }
    .bannertext{
        padding: 10%;
    }
    .bannertext,.bannerimage{
        width: 100%;
    }
    .teralogo p{
        font-size: 20%;
    }
    span.teralogo img {
        width: 15px; /* Adjust the width as needed for mobile layout */
        height: 15px; /* Maintain aspect ratio or set the height as needed */
      }
    .botam1{
        width:40% ;
        height:10% ;
    }
    .botam2{
        width: 50%;
        height: 5%;
    }
    /* RESPONSIVE BANNER DONEEEE !! */
    .Script2{
        flex-direction: column;
    }
    .page2text{
        
        text-align: center;
    }
    .page2text,.page2img{
        width: 100%;        
    }
    .page2text p{
        font-size: 80%;
    }
    .botam3{
        width:40% ;
        height:10% ;
    }
    .page2text h4{
    font-weight: bolder;
    font-size:120%;
    }
}